.vs
obj
bin
!AGameServer/Deploy/bin
.svn
*.user
# **表示忽略多层目录
AGameServer/**/*.meta
UHotGames/Library/*
UHotGames/Temp/*
UHotGames/Release/*
UHotGames/ab1/*
UHotGames/RemoteResources/*
UHotGames/Assets/StreamingAssets/*
*.csproj
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
AGameServer/AWebServices/Properties/PublishProfiles/FolderProfile.pubxml.user
AGameServer/Deploy/Web.config
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
UHotGames/Assets/Arts/UI.meta
UHotGames/Assets/Script/Utils/LibUtils/Properties.meta
UHotGames/Assets/StreamingAssets.meta
UHotGames/ProjectSettings/ProjectVersion.txt
*.user
UHotGames/Assembly-CSharp.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/ProjectSettings/ProjectSettings.asset
UHotGames/ProjectSettings/ProjectSettings.asset
