.vs
obj
bin
!AGameServer/Deploy/bin
.svn
*.user
# **表示忽略多层目录
AGameServer/**/*.meta
UHotGames/Library/*
UHotGames/Temp/*
UHotGames/AB/*
UHotGames/Release/*
UHotGames/ab1/*
UHotGames/RemoteResources/*
UHotGames/Assets/StreamingAssets/*
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
AGameServer/AWebServices/Properties/PublishProfiles/FolderProfile.pubxml.user
AGameServer/Deploy/Web.config
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
UHotGames/Assets/Arts/UI.meta
UHotGames/Assets/Script/Utils/LibUtils/Properties.meta
UHotGames/Assets/StreamingAssets.meta
UHotGames/ProjectSettings/ProjectVersion.txt
*.user
UHotGames/Assembly-CSharp.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/ProjectSettings/ProjectSettings.asset
UHotGames/ProjectSettings/GraphicsSettings.asset
UHotGames/Assets/Plugins/WeChat/Android/AndroidManifest.xml
UHotGames/Logs/Packages-Update.log
UHotGames/Packages/manifest.json
UHotGames/Packages/packages-lock.json
UHotGames/ProjectSettings/VersionControlSettings.asset
UHotGames/ProjectSettings/VFXManager.asset
UHotGames/UserSettings/EditorUserSettings.asset
UHotGames/.vsconfig
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
UHotGames/Assets/Arts/Images/Character/001-Fighter01.png.meta
UHotGames/Assets/Arts/Images/Character/183-Rock02.png.meta
UHotGames/Assets/Arts/Images/Character/184-Light01.png.meta
UHotGames/Assets/Arts/Images/Character/185-Light02.png.meta
UHotGames/Assets/Arts/Images/huo.png.meta
UHotGames/Assets/Arts/Images/Map/017-MineTown01.png.meta
UHotGames/Assets/Arts/Playable/caverman.png.meta
UHotGames/Assets/Resources.meta
UHotGames/Assets/Resources/BillingMode.json
UHotGames/Assets/Resources/BillingMode.json.meta
UHotGames/Logs/AssetImportWorker0.log
UHotGames/Logs/shadercompiler-AssetImportWorker0.log
UHotGames/Logs/shadercompiler-UnityShaderCompiler.exe0.log
UHotGames/Logs/shadercompiler-UnityShaderCompiler.exe1.log
UHotGames/Logs/shadercompiler-UnityShaderCompiler.exe2.log
UHotGames/Logs/shadercompiler-UnityShaderCompiler.exe3.log
UHotGames/Logs/shadercompiler-UnityShaderCompiler.exe4.log
UHotGames/Logs/shadercompiler-UnityShaderCompiler.exe5.log
UHotGames/Packages/manifest.json
UHotGames/ProjectSettings/PackageManagerSettings.asset
UHotGames/ProjectSettings/ProjectVersion.txt
UHotGames/UHotGames.sln
UHotGames/Assembly-CSharp-Editor-firstpass.csproj
UHotGames/Assembly-CSharp-Editor.csproj
UHotGames/Assembly-CSharp-firstpass.csproj
UHotGames/Assembly-CSharp.csproj
UHotGames/Assets/Arts/Images/Character/001-Fighter01.png.meta
UHotGames/Assets/Arts/Images/Character/183-Rock02.png.meta
UHotGames/Assets/Arts/Images/Character/184-Light01.png.meta
UHotGames/Assets/Arts/Images/Character/185-Light02.png.meta
UHotGames/Assets/Arts/Images/huo.png.meta
UHotGames/Assets/Arts/Images/Map/017-MineTown01.png.meta
UHotGames/Assets/Arts/Playable/caverman.png.meta
UHotGames/Packages/manifest.json
UHotGames/ProjectSettings/ProjectVersion.txt
UHotGames/UHotGames.sln
