<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="log" value="d:/WebLog/"/>
    <add key="/account" value="/asmx/Account.asmx/account"/>
    <add key="/avatar" value="/asmx/Avatar.asmx/avatar"/>
    <add key="/game" value="/asmx/GameServices.asmx/game"/>
    <add key="accountconnect" value="mongodb://127.0.0.1"/>
    <add key="accountdbname" value="codegame"/>
    <add key="avatarconnect" value="mongodb://127.0.0.1"/>
    <add key="avatardbname" value="codegame"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ws" path="*.enter" verb="*" type="WebApplication.WSHandler,AWebServices"/>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: FC288697-85B3-4D6C-ABF8-BA8B25884DCE-->
<!--ProjectGuid: 2FD94D03-4038-4F94-829B-B0BA18AA3924-->